db.sqlite3
*.pyc

badness.log
fool.html
img_the_scream.jpg

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ssh/
net/db_pass.txt net/db_user.txt net/secret_key.txt
