packages:  
  yum:
    make: []
    gcc-c++: []
    gcc-gfortran: []
    atlas-sse3-devel: []
    lapack-devel: []
    libpng-devel: []
    python34-setuptools: []
    python34-devel: []
    freetype-devel: []
    zlib-devel: []
    libjpeg-turbo-devel: []
    postgresql93-devel: []
container_commands:  
  AddGlobalWSGIGroupAccess: 
    command: "if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;"

commands:
    command:dd if=/dev/zero of=/swapfile bs=1M count=3072
    command:mkswap /swapfile
    command:swapon /swapfile

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "net.settings"
    PYTHONPATH: "/opt/python/current/app/net:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "capstone/net/wsgi.py"