body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

canvas {
    display: block;
    border-style: solid;
    margin: 0 auto;
}

#sub_button {
    display: block;
    width: 65px;
    margin: 1em auto;
}

.answer {
    display: block;
    height: 2em;
    text-align: center;
    margin: 10px;
}

th, td {
    text-align: center;
    padding: 0 6px;
}