body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#colors_sketch {
    display: block;
    border-style: solid;
    margin: 0 auto;
}

#sub_button {
    display: block;
    width: 10%;
    margin: 1em auto;
}
